body{
    background-image: = url(assets/images/gravel/gravel.png);
}
h1{
    background: #4aaaa5;
    color: white;
    width: 250px;
    text-align: center;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;

}
#banner{
position: absolute; 
top: 0; 
left: 0;
background-color: #DDEEEE; 
width: 100%; 
}
#aboutButton{

position: fixed;
}

#portfolioButton{
position: fixed;
}

#contactButton{
position: fixed;
}
h2{
    color: #4aaaa5;
    clear: both;
    padding-top: 80px;
    width: 100%;
    margin: 
}